@import "../../styles/variables";

.products {
  padding: 20px 0;

  &__title {
    color: $blue;
  }

  &__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > h3 {
      margin-top: 20px;
    }

    & > p {
      text-align: center;
      margin-top: 20px;
    }

    & > img {
      width: 600px;
      height: 400px;
      object-fit: cover;
    }
  }
}